@import '~UITwfVariables';

.application-cards {
	display: block;
	padding: 32px 0;

	.application-card {
		width: 100%;
		margin-bottom: 1em;
		padding: 8px 16px;
		border-left: 6px solid transparent;
		box-sizing: border-box;
		font-size: .9em;
		display: flex;
		overflow: hidden;
		flex-flow: column wrap;
		background-color: #fff;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .1);

		transform-origin: top left;
		animation: show-config-card;
		animation-duration: .5s;
		animation-delay: 0s;
		animation-play-state: running;
		animation-fill-mode: forwards;

		transition: all .2s ease;

		&.enabled {
			border-color: @twf-primary-green;
		}

		&.disabled {
			border-color: @twf-primary-red;
			background-color: #e5e5e5;
			box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
			color: #999;
		}

		&.offline {
			background-color: #e5e5e5;
			box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
			color: #999;
		}

		h1 {
			font-size: 1.5em;
			margin-bottom: 1em;
		}

		table {
			thead {
				background-color: @twf-primary-blue;
				color: #fff;

				th {
					padding: 8px;
					text-transform: uppercase;
					font-size: .9em;

					&:first-child {
						width: 200px;
					}
					&:last-child {
						width: 200px;
					}
				}
			}

			border-collapse: separate;
			border-spacing: 1px;
			margin-bottom: 8px;
			max-width: 100%;
			table-layout: fixed;

			tr {
				max-width: 100%;

				td {
					padding: 6px;
					text-align: center;

					&:first-child {
						font-weight: bold;
						background-color: rgba(66, 183, 232, 0.2);
					}

					background-color: rgba(66, 80, 80, 0.1);
				}

				&.card-details {
					td {
						text-align: left;
						background: none;

						p {
							margin-top: 0;
						}

						&:first-child {
							text-align: right;
							font-weight: bold;
							vertical-align: top;
							padding-right: 1em;
							border-right: 1px solid #eee;
							background: none;
						}
					}
				}
			}
		}

		.card-actions {
			padding: 16px;
			box-shadow: 0 -1px 0 rgba(0, 0, 0, .1);
			display: flex;
			flex-flow: row-reverse nowrap;
			color: #000;

			& > div {
				margin-left: 32px;
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				justify-content: flex-end;
			}
		}
	}
}


@keyframes show-config-card {
	0% {
		transform: translateX(48px) scaleX(.8);
		opacity: 0;
	}
	100% {
		transform: translateX(0) scaleX(1);
		opacity: 1;
	}
}
