@import '~UITwfVariables';

.application-cards {
	display: flex;
	flex-flow: row wrap;

	.application-card {
		margin-bottom: 2em;
		margin-right: 2em;
		width: 400px;

		table {
			border-collapse: separate;
			border-spacing: 2px;
			font-size: .9em;

			tr {
				td {
					padding: 4px 6px;
				}

				td:first-child {
					width: 16em;
					background-color: @twf-bg-color;
				}
			}
		}
	}
}

