.app-layout-tc {
	.tc-layout {
		.tc-nav-anchor-title-level-1 {
			font-size: 1.6em;
		}

		.tc-nav-anchor-title-level-2 {
			font-size: 1.4em;
		}

		.tc-nav-anchor-title-level-3 {
			font-size: 1.2em;
		}
	}
}
